song_schema.rnc

start = song
song = element song { intro?, (chorus | skit | interlude | verse)+, outro? }
intro = element intro { artist, (adlib | theme | style | text)* }
outro = element outro { artist, (adlib | theme | style | text)* }
skit = element skit { artist, (adlib | theme | style | text)* }
interlude = element interlude { artist, (adlib | theme | style | text)* }
chorus = element chorus { artist, (adlib | theme | style | text)* }
verse = 
        element verse {
        artist,
        mixed { (adlib | theme | style)* }
    }
adlib = element adlib { text }
style = element style { type, text }
type = attribute type { text }
theme = element theme { topic, text }
topic = attribute topic { text }
artist = attribute artist { text }
